/*#region Main Styles */

/*Main pape styles*/
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica;
    color: white;
    background-color: black;
}
/*HTML sizing*/
html {
    width: 100%;
    height: 100%;
}
/*Header text formating*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 25px 0 25px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica;
    font-weight: 700;
    letter-spacing: 1px;
}

/*Paragraph formating*/
p {
    margin: 25px 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

img {
    margin: 25px 0px 25px;*/
}

/*#endregion */

/*#region Navbar styles*/
/*#ff0000 = red*/
/*#000000 = Black*/
/*#ffffff; = White*/

.navbar-default {
    background-color: #000000;
    border-color: #000000;
    opacity: 0.8;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
}

    .navbar-default .navbar-brand {
        color: #ffffff;
        text-align: right;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #ff0000;
        }

    .navbar-default .navbar-text {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
        text-align: center;
        padding: 5px;
        margin: 10px 50px 10px 50px;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #ff0000;
            text-decoration: underline;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ff0000;
        background-color: #000000;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #ff0000;
        background-color: #000000;
    }

    .navbar-default .navbar-toggle {
        border-color: #000000;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #000000;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ffffff;
    }

    .navbar-default .navbar-link {
        color: #ffffff;
    }

        .navbar-default .navbar-link:hover {
            color: #ff0000;
            text-decoration: underline;
        }

@media (max-width: 400px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ff0000;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ff0000;
        background-color: #000000;
    }
}

/*#endregion */

/*#region Circle icon Styles */

/*The Circle icon*/
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    text-align: center;
}

/*#endregion */

/*#region Intro styles */

.container-fluid {
    display: table;
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
    color: white;
    background-color: black;
    background-size: cover;
}

.carousel-caption {
    display: table-cell;
    vertical-align: text-top;
}

    .carousel-caption .brand-heading {
        margin: 25px 0 150px;
        font-size: 70px;
        text-align: left;
    }

    .carousel-caption .intro-text {
        font-size: 30px;
        text-align: left;
    }

    .carousel-caption .Right-List {
        list-style-type: none;
        margin: 25px 0 50px;
        font-size: 30px;
        text-align: right;
        color: white;
    }

/* Fade transition for carousel items */
.carousel-inner .item {
    left: 0 !important;
    transition: opacity .2s;
}

.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: .25;
    z-index: 1;
}

.active.left,
.active.right {
    opacity: 1;
    z-index: 2;
}

/*Media Formating*/
@media(max-width:400px) { /* @media(min-width:768px) {*/
    .intro {
        height: 100%;
        padding: 0;
    }

    .carousel-caption .brand-heading {
        /*margin: 5px 0 5px;*/
        font-size: 50px;
    }

    .carousel-caption .intro-text {
        /*margin: 5px 0 5px;*/
        font-size: 25px;
    }

    .carousel-caption .Right-List {
        /*margin: 5px 0 5px;*/
        font-size: 15px;
    }
}

/*#endregion */

/*#region Carousel*/
.carousel {
    margin-bottom: 4rem;
    position: relative;
}

    .carousel img {
        min-width: 100%;
        width: 100%;
        height: auto;
    }

.carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img {
    line-height: 1;
    min-width: 100%;
    height: auto;
}

.carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img, .img-fluid {
    position: center;
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.carousel-item > img {
    position: center;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}


.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: url();
}


@media (max-width: 400px) {
    .carousel-indicators {
        bottom: 20px;
    }
}

/*#endregion */
